/* .gradient-border {
  position: relative;
  border-width: 20px;
  border-color: transparent;
  border-style: solid;
  box-sizing: border-box;
  // overflow: hidden; 
  isolation: isolate;
}
.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  border-width: 20px;
  margin: -20px;
  border-style: solid;
  border-image: url("./gradient.svg") 20;
  border-image-slice: 1;
} */
.gradient-border {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  box-sizing: border-box;
  --b-width: var(--border-width, 4px);
  background-clip: padding-box;
  border: var(--b-width) transparent solid;
  opacity: 0.5;
}
.gradient-border:before {
  content: "";
  position: absolute;
  z-index: -2;
  inset: 0;
  margin: calc(0px - var(--b-width));
  border-radius: inherit;
  background: linear-gradient(to bottom right, white, transparent);
}
.gradient-border:after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  margin: calc(0px - var(--b-width));
  border-radius: inherit;
  background: inherit;
}
